<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <header>
        <h1>Travel App</h1>
    </header>

    <main>
        <aside>
            <form onsubmit="handleSubmit(event)">
                
                <div>
                    <label for="city">Location</label>
                    <input type="text" id="city" aria-describedby="location" placeholder="Enter desired location here">
                </div>
                <div>
                    <label for="departure-date">Date</label>
                    <input type="date" id="departure-date" aria-describedby="date" placeholder="Enter your travel date here" />
                </div>

                <button type="submit" id="btnSubmit" class="btn-plan">Submit</button>
            </form>

            <section id="search-result">
                <h2>Your Current Search Details</h2>

                <div id="search-result">
                    <h3 id="trip-city"></h3>
                    <p id="weather"></p>
                    <p id="trip-countdown"></p>
                    <button type="submit" id="btnSave">Save</button>
                </div>
            </section>
        </aside>

        <section>
            <h2>Your Trip Details</h2>

            <span id="empty-message">Add a trip to show your details here</span>

            <ul id="trips">
                <!-- <li>
                    <h3 id="trip-city"></h3>
                    <p id="weather"></p>
                    <p id="trip-countdown"></p>
                </li> -->
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; Copyright - Udacity Travel App</p>
    </footer>
    
</body>
</html>