@import './colors.scss';

aside {

    form {
        width: 100%;
        padding: 2rem;

        & div {
            display: flex;
            flex-direction: column;

            label {
                padding: 1rem;
            }

            input {
                width: 30rem;
                height: 3rem;
                border-radius: 2rem;
                border: none;
                outline: none;
                padding: 1rem;
                background-color: $secondary-light;
                color: $secondary-text;

                &:hover {
                    font-size: large;
                }
            }
        }

        button {
            background-color: $primary-dark;
            border: none;
            outline: none;
            border-radius: 2rem;
            margin-top: 2rem;
            font-size: large;
            font-weight: bold;
            color: $primary-text;
            width: 30rem;
            height: 3rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}