$primary: #344955;
$primary-light: #5f7481;
$primary-dark: #0b222c;

$secondary: #f9aa33;
$secondary-light: #ffdc65;
$secondary-dark: #c17b00;

$primary-text: #ffffff;
$secondary-text: #000000;

$background-dark: #E1E2E1;
$background-light: #F5F5F6;