@import './colors.scss';
@import './fonts.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
}